*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
header {
    background-color: rgba(0, 17, 255, 0.315);
    padding: 3rem;
}






.list-header {
    display: flex;
    justify-content:center ;

}

.list-header li {
    list-style: none;
    margin-right: 10px;
}
.list-header li a {
    text-decoration: none;

}

#section-iphone{
    background-image: url(imagens/Banner\ 01.jpg);
    padding: 15rem;
    background-position: center;
    background-size: cover;
}
#section-iphone {
    font-size: 20px;
    font-weight: bold;
}

#section-iphone button{
    padding: 0.8rem;
    margin: 5px;
    width: 15rem;
    border-radius: 5px;
    cursor: pointer;
}


#app { 
    padding: 10rem;
    text-align: center;
    color: aqua;
    background-image: url()
}

 footer 
 {
    background-color: rgb(51, 49, 49);
    padding: 7rem;
    display: flex;
    justify-content: space-evenly;
    color: white;
 }
text footer {
    text-align: center;
}